:root {
  --white-color: #fff;
  --accent-color: #fd9222;
}

/* #region Base styles  */

body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

/* #endregion Base styles  */

/* #region Common styles  */

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
}

.accent {
  color: var(--accent-color);
}

.text-white {
  color: var(--white-color);
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.logo-accent {
  font-style: italic;
  margin-right: 4px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}

.socilas-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: 300ms ease-in;
  transition-property: border-color;
}

.socials-link:hover,
.socials-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.socials-icon {
  fill: #111111;
  transition: fill 300ms ease-in;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-color);
}

.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;
  min-height: 45px;
}
.btn-accent {
  color: var(--white-color);
  background: var(--accent-color);
  border: none;
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-color);
  background: #fcf1e0;
}

.btn-light {
  color: var(--white-color);
  background: transparent;
  border: 1px solid white;
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-color);
}

.btn-dark {
  font-size: 18px;
  color: currentColor;
  background: transparent;
  border: 1px solid var(--accent-color);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* #endregion Common styles  */

/* #region Header styles  */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 90px; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  transition: color 0.3s ease-in-out;
}

.header-nav-link.active {
  color: var(--accent-color);
}

.header-nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-img {
  margin-left: 4px;
}

/* #endregion Header styles  */

/* #region Hero styles  */

.hero {
  margin-bottom: 80px;
}

.hero .container {
  padding: 40px;
  padding-top: 381px;
  border-radius: 30px;
  background: url('../images/hero/hero-bg.jpg') rgba(17, 17, 17, 0.4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: var(--white-color);
}

.hero-controls {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  transition: color 0.3s ease-in-out;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* #endregion Hero styles  */

/* #region Benefits styles  */

.benefits {
  padding: 50px 0;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 88px;
}

.benefits-item {
  position: relative;
  width: 308px;
}

.benefits-item::after {
  content: '';

  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);

  display: block;
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-item:last-child::after {
  display: none;
}

.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.benefits-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--white-color);
  margin-bottom: 18px;
}

.benefits-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits styles  */

/* #region Ingredients styles  */

.ingredients {
  padding-top: 120px;
  padding-bottom: 60px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingredients-item {
  position: relative;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid transparent;
  background: var(--white-color);
}

.ingredients-item:nth-child(even) {
  border: 1px solid var(--accent-color);
}

.ingredients-item:nth-child(4n + 1) {
  background: var(--accent-color);
}

.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
}

.ingredients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.ingredients-item:nth-child(even) {
  color: var(--accent-color);
}

.ingredients-caption {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

/* #endregion Ingredients styles  */

/* #region Made styles  */
.made {
  padding: 60px 0;
}

.made-subtitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.made-wrapper {
  display: flex;
  gap: 20px;
}

.made-left-side {
  flex-shrink: 0;
}

.made-right-side {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}

.made-list {
  list-style: disc;
}

.made-item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
}

.made-item:last-child {
  margin-bottom: 0;
}
/* #endregion Made styles  */

/* #region Products styles  */

.products {
  padding: 60px 0;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}

.products-item {
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
  background: var(--white-color);
}

.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-price {
  font-weight: 600;
  line-height: 1.21;
  padding: 8px 20px;
  background-color: #fafafa;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

/* #endregion Products styles  */

/* #region Bestsellers styles  */

.bestsellers {
  padding: 60px 0;
}

.bestsellers-list {
  display: flex;
  justify-content: space-between;
}

.bestsellers-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(253, 146, 34, 0.9);
  transform: translateY(100%);

  color: var(--white-color);
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  transition: 300ms ease-in-out;
}

.bestsellers-item {
  text-align: center;
  background: var(--white-color);
}

.bestsellers-item:hover .overlay-text {
  transform: translateY(0%);
}

.bestsellers-img {
  border-radius: 15px 15px 0px 0px;
}

.bestsellers-caption {
  padding: 28px;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background: #fff;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* #endregion Bestsellers styles  */

/* #region Reviews styles  */

.reviews {
  padding: 60px 0;
}

.reviews-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.reviews-item {
  position: relative;
  width: 360px;
  background: var(--white-color);
  padding: 56px 24px 24px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  text-align: center;
}

.reviews-avatar {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: block;
  margin: 0 auto;
}

/* #endregion Reviews styles  */

/* #region Footer styles  */
.footer {
  padding: 50px 0;
  background: #1e1823;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
}

.footer-slogan {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.footer-wrapper {
  margin-left: auto;
}

.footer-address {
  margin-left: 50px;
}

.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: var(--white-color);
}

.footer-contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-bottom {
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
  display: flex;
  gap: 24px;
}

.footer-menu-link {
  display: block;
  padding: 18px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white-color);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-color);
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  animation: fadeInRight 500ms ease-in-out;
}

.scroll-to-top svg {
  fill: var(--accent-color);
}

/* #endregion Footer styles  */

@keyframes fadeInRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* #region Modal styles  */

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 500ms;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;
  background: #fafafa;
  z-index: 99;
}

.modal-caption {
  width: 298px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  color: #111111;
  background-color: transparent;
  border: none;
  transition: color 300ms ease-in;
}
.modal-btn:hover {
  color: var(--accent-color);
}

.field-wrapper {
  margin-bottom: 20px;
}

.field-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.field {
  position: relative;
}

.modal-field-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  color: #404040;
  background: transparent;
  outline: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  transition: border-color 300ms ease-in;
}

/* #endregion Modal styles  */
