:root {
  --white-color: #fff;
  --accent-color: #fd9222;
}

/* #region Base styles  */

body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

/* #endregion Base styles  */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition:
    transform 300ms ease,
    opacity 300ms ease;
}

.modal.is-open {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
